* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: RGBA(22, 40, 74, 1.00);
  background-color: #fff;
  position: relative;
}

#sidebar {
  position: fixed;
  width: 780px; /* aanpassen voor sidebar breedte*/
  height: 100%;
  background-color: #151719;
  left: -780px; /* aanpassen voor sidebar breedte*/
  transition: all 400ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar h1 {
  color: white;
  font-size: 4.5em;
  padding: 40px 0px 5px 0px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#sidebar p {
  color: rgba(230,230,230,0.9);
  font-size: 2em;
  padding: 0px 0px 0px 0px;
  font-weight: 300;
  text-align: center;
}

#sidebar img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60%;
  border: 20px solid rgba(230,230,230,0.9);
  margin-top: 50px;
  margin-bottom: 50px;
}

#sidebar ul li a {
  color: rgba(230,230,230,0.9);
  text-decoration: none;
  padding: 15px 40px;
  border-bottom: 2px solid rgba(100,100,100,0.3);
  font-size: 3.5em;
}

#sidebar ul li {
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px 40px;
  text-align: center;
  margin-top: 40px;
}

#sidebar ul li:nth-child(1) {
  margin-top: 120px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 820px; /* aanpassen voor sidebar breedte*/
  top: 30px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 120px;
  height: 30px;
  background-color: #151719;
  margin: 15px 0px;
}

/* Voor het aanpassen van de hamburger menu */

/*#sidebar .toggle-btn span:nth-child(2) {
  width: 80px;
  height: 30px;
}

#sidebar .toggle-btn span:nth-child(3) {
  width: 40px;
  height: 30px;
} */

/* main */

main h2 {
  font-size: 5.5em;
  font-weight: 700;
  width: 600px;
  margin-left: 100px;
  padding-top: 10px;
  padding-right: 20px;
  color: #151719;
}








/* footer */

.meld {
      background-color: #6bc2be;
      color: RGBA(182, 198, 230, 1.00);
      padding: 15px;
}

.meld h3 {
      color: black;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 0.9em;
}

.meld p {
      margin-bottom: 10px;
      font-size: 0.9em;
      color: white;
}

/* Social Media hier*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  text-decoration: none;
  color: black;
}

.fa-facebook:hover {
  text-decoration: none;
  color: #3B5998;
}

.fa-twitter:hover {
  text-decoration: none;
  color: #55ACEE;
}

.fa-google:hover {
  text-decoration: none;
  color: #dd4b39;
}

.fa-youtube:hover {
  text-decoration: none;
  color: #bb0000;
}

.fa-instagram:hover {
  text-decoration: none;
  color: #125688;
}

/* einde social media */

.app {
      background-color: black;
      color: RGBA(144, 152, 168, 1.00);
      padding: 15px 15px 30px 15px;
      position: relative;
}

.app h3 {
      margin-bottom: 10px;
}

.app p {
      width: 80%;
      font-size: 0.8em;
}

.app a {
      color: RGBA(144, 152, 168, 1.00);
}

@supports (grid-area: auto) {
  @media (min-width: 400px) {
  }
  @media (min-width: 1024px) {
  }
}
